/* src/App.css */

/* Reset e basi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font moderno */
}

html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb); /* Gradient Background */
}

#root, .App {
  height: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  color: #f7f7f7;
}

.video-container {
  width: 70%;
  background: rgba(255, 255, 255, 0.1); /* Translucent background */
  backdrop-filter: blur(5px); /* Blur effect for the background */
  padding: 20px;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  margin: 20px;
}
.search-box {
  max-height: 500px; /* Imposta un limite massimo di altezza, ad esempio 500px */
  overflow-y: auto;   /* Aggiunge una scrollbar verticale se il contenuto eccede l'altezza */
  border: 1px solid #ddd; /* Optional: Aggiunge un bordo per delimitare la sezione */
  padding: 10px; /* Optional: Aggiunge padding per migliorare la leggibilità */
}


/* .search-box {
  width: 25%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin: 20px;
} */

.search-box-title {
  font-size: 1.8rem;
  color: #282c34;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input, .search-button {
  width: 100%; /* Full width of the container */
  margin-bottom: 10px;
}

.search-input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #8f94fb; /* Focus color */
}

.search-button {
  padding: 12px 20px;
  background-color: #4e54c8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #6c63ff;
}

.search-button:disabled {
  background-color: #cccccc;
}

.radio-list-item {
  background: rgba(255, 255, 255, 0.8); /* Semi-translucent white */
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.loading-text {
  font-style: italic;
}

/* Stili aggiuntivi per il form */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background: #ffffff;
  background: linear-gradient(to top right, #ffffff, #eeeeff);
}

.form-title {
  margin-bottom: 1.5rem;
  color: #5a5a5a;
  text-align: center;
  font-size: 2rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-input {
  padding: 1px 25px;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border 0.5s;
}

.form-input:focus {
  border-color: #4e54c8;
  outline: none;
}

.form-submit {
  padding: 10px 15px;
  color: white;
  background-color: #4e54c8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #3b41a4;
}
.video-page-container {
  display: flex;
  flex-direction: row; /* Disponi gli elementi in riga */
  justify-content: space-between; /* Separa gli elementi */
  align-items: start; /* Allinea gli elementi all'inizio del contenitore */
  padding: 20px; /* Aggiungi spazio intorno */
}

@media (max-width: 768px) {
  .video-page-container {
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna su schermi più piccoli */
  }

  .search-box {
    width: 100%; /* Fa sì che la barra di ricerca si adatti alla larghezza del contenitore */
  }
}

@media (min-width: 769px) {
  .video-page-container {
    display: flex;
    flex-direction: row; /* Dispone gli elementi in riga su schermi più grandi */
  }

  .search-box {
    width: 30%; /* Fa sì che la barra di ricerca occupi il 30% della larghezza della pagina */
  }
}


/* Aggiungi stili per altri stati o dispositivi se necessario */
/* Stili reattivi per mobile */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Impila verticalmente su dispositivi mobili */
    padding: 20px; /* Ulteriore riduzione del padding per mobile */
  }
  
  .video-container, .search-box {
    width: 100%; /* Usa tutta la larghezza disponibile per dispositivi mobili */
    margin: 20px 0; /* Riduci il margine tra gli elementi */
  }
  .video-page-container {
    flex-direction: column; /* Disponi gli elementi in colonna su schermi più piccoli */
  }
}
